.logo {
    width: 38px;
    height: 38px;
    object-fit: cover;
    object-position: center;
  }

  @media screen and (max-width: 320px) {
    .logo {
      margin: 0 auto;
      display: block;
    }
}