.portfolio {
  display: flex;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  max-width: 1280px;
  padding-right: 70px;
  padding-left: 70px;
  padding-top: 100px;
  padding-bottom: 100px;
  }
  
  .portfolio__title {
    font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 18px;
    line-height: 20px;
    width: 100%;
    margin: 0 0 50px;
    color: #8b8b8b;
    mix-blend-mode: normal;
  }
  
  .portfolio__list {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  .portfolio__item {
    margin-bottom: 20px;
    padding-bottom: 9px;
    border-bottom: 1px solid #424242;
  }
  
  .portfolio__item:last-of-type {
    margin-bottom: 0;
    padding: 0;
    border: none;
  }
  
  .portfolio__link {
    display: flex;
    justify-content: space-between;
    transition: opacity ease-in-out .2s;
    text-decoration: none;
  }
  
  .portfolio__link:hover {
    opacity: 0.7;
  }
  
  .portfolio__name {
    font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 30px;
    line-height: 50px;
    margin: 0;
    letter-spacing: -0.04em;
    color: #fff;
  }
  
  .portfolio__icon {
    width: 27px;
    height: 60px;
    color: #fff;
  }
  
  @media screen and (max-width: 767px) {
    .portfolio {
      padding-right: 50px;
      padding-left: 50px;
    }

    .portfolio__name {
      font-size: 28px;
    }
  }

  @media screen and (max-width: 400px) {
    .portfolio {
      padding: 70px 14px;
    }

    .portfolio__name {
      font-size: 14px;
      line-height: 20px;
    }

    .portfolio__icon {
      width: 18px;
      height: 28px;
    }

    .portfolio__item {
      margin-bottom: 19px;
    }
  }